#combat-window {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

#player-team,
#opponent-team {
  position: absolute;
  width: 60%;
  max-height: 20%;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
#player-team {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
#opponent-team {
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.team-card {
  height: 100%;
  max-width: 100%;
  justify-self: center;
}
#player-team .team-card.selectable:hover {
  transform: scale(1.3) translateY(-15%);
  z-index: 1;
}
#opponent-team .team-card.selectable:hover {
  transform: scale(1.3) translateY(15%);
  z-index: 1;
}

/* Combat Field */
#combat-field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  box-sizing: border-box;
}

#vs-text {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}
.fighter {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.fighter img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.fighter-hp-panel {
  font-weight: bold;
  font-size: 150%;
  width: 50%;
}
#player-fighter .fighter-hp-panel {
  position: absolute;
  top: 0;
  left: 110%;
  text-align: start;
}
#opponent-fighter .fighter-hp-panel {
  position: absolute;
  top: 0;
  right: 110%;
  text-align: end;
}

.energies-container {
  position: absolute;
  height: 100%;
  width: 10%;
}
#player-fighter .energies-container {
  top: 20%;
  left: 110%;
}
#opponent-fighter .energies-container {
  top: 20%;
  right: 110%;
}
.energies-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2%;
}
.energies-container .energy-icon {
  height: auto;
  width: auto;
  animation: crecer 0.5s ease-in-out forwards;
}
.damage-text {
  color: transparent;
  position: absolute;
  top: 0;
  font-size: 150%;
  font-weight: bold;
  background-color: transparent;
  padding: 2%;
  border-radius: 100%;
}
#player-fighter .damage-text {
  right: 0;
}
#opponent-fighte .damage-text {
  left: 0;
}
.show-damage {
  background-color: white;
  color: black;
  animation: crecer 0.5s ease-in-out forwards;
  border: 2px solid black;
}
.attack {
  animation: vibrar 0.5s ease-in-out forwards;
}
.hit {
  filter: sepia(1) saturate(10) hue-rotate(-50deg);
  animation: parpadeo 0.5s ease-in-out forwards;
}

.fight-won {
  outline: 5px solid green;
  border-radius: 0.5vw;
}
.fight-lost {
  outline: 5px solid red;
  border-radius: 0.5vw;
}

@keyframes vibrar {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes parpadeo {
  0%,
  20%,
  40%,
  60%,
  80% {
    opacity: 1;
  }
  10%,
  30%,
  50%,
  70% {
    opacity: 0;
  }
}

@keyframes crecer {
  0% {
    transform: scale(0.1); /* Muy pequeño al inicio */
  }
  50% {
    transform: scale(1.3); /* Se agranda a 1.5 veces su tamaño */
  }
  100% {
    transform: scale(1); /* Regresa al tamaño normal */
  }
}
