#combat-submenu {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 90vh;
  border-radius: 1vw;
  overflow: hidden;
  outline: 3px solid black;
}

#combat-window {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

#player-team,
#opponent-team {
  position: absolute;
  width: 60%;
  max-height: 20%;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

#player-team {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

#opponent-team {
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.team-card {
  height: 100%;
  max-width: 100%;
  justify-self: center;
}

#player-team .team-card.selectable:hover {
  transform: scale(1.3) translateY(-15%);
  z-index: 1;
}

#opponent-team .team-card.selectable:hover {
  transform: scale(1.3) translateY(15%);
  z-index: 1;
}

/* Combat Field */
#combat-field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  box-sizing: border-box;
}

#vs-text {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}

.fighter {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.fighter img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.fighter-hp-panel {
  font-weight: bold;
  font-size: 100%;
  width: 35%;
  height: 10%;
  position: absolute;
  top: 3%;
  right: 5%;
  text-align: end;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid black;

}

.fighter-hp-panel p {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.energies-container {
  position: absolute;
  top: 20%;
  right: -5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2px;
  width: 15%;
}


.energies-container .energy-icon {
  height: auto;
  width: auto;
  animation: crecer 0.5s ease-in-out forwards;
}

.damage-text {
  display: none;
  position: absolute;
  top: 3%;
  right: 0;
  font-size: 100%;
  font-weight: bold;
  padding: 2%;
  border-radius: 100%;
  text-align: start;
  background-color: white;
  margin: 0;
}

.show-damage {
  display: inline-block;
  animation: crecer 0.5s ease-in-out forwards;
  border: 2px solid black;
}

.attack {
  animation: vibrar 0.5s ease-in-out forwards;
}

.hit {
  filter: sepia(1) saturate(10) hue-rotate(-50deg);
  animation: parpadeo 0.5s ease-in-out forwards;
}

.fight-won {
  outline: 5px solid rgb(167, 255, 167);
  border-radius: 0.5vw;
}

.fight-lost {
  outline: 5px solid rgb(255, 125, 125);
  border-radius: 0.5vw;
}

#combat-window #skip-button {
  position: absolute;
  right: 5%;
  bottom: 50%;
  transform: translateY(50%);
}

/* Results panel */
#combat-results-panel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
}

#combat-results-panel h3 {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

#combat-results-panel .close-button {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

#pokemon-obtained,
#pokemon-lost {
  position: relative;
  width: 45%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5%;
}
#pokemon-obtained h4,
#pokemon-lost h4 {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#pokemon-obtained img,
#pokemon-lost img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: .5vw;
  
}
#pokemon-obtained img{
  outline: 5px solid rgb(167, 255, 167);
}
#pokemon-lost img{
  outline: 5px solid rgb(255, 125, 125);
}

@keyframes vibrar {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(10%);
  }

  75% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes parpadeo {

  0%,
  20%,
  40%,
  60%,
  80% {
    opacity: 1;
  }

  10%,
  30%,
  50%,
  70% {
    opacity: 0;
  }
}

@keyframes crecer {
  0% {
    transform: scale(0.1);
    /* Muy pequeño al inicio */
  }

  50% {
    transform: scale(1.3);
    /* Se agranda a 1.5 veces su tamaño */
  }

  100% {
    transform: scale(1);
    /* Regresa al tamaño normal */
  }
}