#pokemon-sets-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#select-set-submenu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sets-grid {
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
}

.set-title {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}

.set-title img {
  width: 100%;
  object-fit: scale-down;
}

.set-cards {
  position: absolute;
  right: 5%;
  bottom: 1%;
  font-weight: bold;
  background-color: white;
  border-radius: 1vw;
  padding: 0.2vw;
}

/* Set Info */

#pokemon-set-info #info {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 25vh;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

#info #right-panel-info {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 2vw;
  width: 30%;
  height: 80%;
  border-radius: 1vw;
}

#info > img {
  width: 100%;
  min-width: 200px;
  max-width: 20vw;
  height: 100%;
  max-height: 25vh;
  object-fit: contain;
  image-rendering: optimizeSpeed;
  justify-self: center;
  align-self: center;
}

#info h3 {
  margin: 0;
}

#info h4 {
  margin: 0;
}

#right-panel-info img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

#collection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
}

#collection #filter {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(116, 116, 116); */
  gap: 10px;
}

#filter p {
  margin: 0;
  font-size: 1.2vw;
}

#collection #collection-grid {
  display: grid;
  width: 100%;
  gap: 2vw;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

.pokemon-card {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.pokemon-card img {
  width: 100%;
}

.pokemon-card .card-number-text {
  position: absolute;
  /* background-color: white; */

  color: white;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: 0 5%;
  font-size: 1vw;
  font-weight: bold;
}

#card-modal-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.808);
  padding: 60px 10vw 10vh 10vw;
}

#card-modal-parent img {
  width: 100%;
  max-width: 70vw;
  max-height: 70vh;
  object-fit: scale-down;
}

#card-modal-close-button {
  position: absolute;
  top: 60px;
  width: 20vw;
  height: 5vh;
  font-weight: bold;
  font-size: 1.2em;
}

#go-back-button {
  position: fixed;
  top: 10vh;
  left: 15px;
  padding: 10px;
  z-index: 10;
  border-radius: 50px;
}

@media (max-width: 500px) {
  #pokemon-set-info #info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 10vh);
    max-height: none;
    align-items: center;
    justify-content: center;
  }

  #info #right-panel-info {
    align-items: center;
    flex-direction: row;
  }

  #info > img {
    max-width: 50vw;
    max-height: 10vh;
    height: 90%;
  }

  #collection #cards {
    grid-template-columns: repeat(auto-fit, 40vw);
  }
}
