#shop-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
#shop-top-panel h1 {
  z-index: 10;
  font-size: 2.5vw;
  transform: translateY(-50%);
}

#shop-top-panel img {
  position: absolute;
  width: 20%;
  max-width: 20em;
  bottom: 0;
}

#shop-top-panel #example-card-1 {
  transform: translateX(min(75%, 15rem)) translateY(60%) rotateZ(10deg);
  z-index: 2;
}

#shop-top-panel #example-card-2 {
  transform: translateX(0) translateY(60%) rotateZ(0);
  z-index: 4;
}

#shop-top-panel #example-card-3 {
  transform: translateX(max(-15rem, -75%)) translateY(60%) rotateZ(-10deg);
  z-index: 2;
}

#shop-top-panel #example-card-4 {
  transform: translateX(min(160%, 35rem)) translateY(30%) rotateZ(10deg);
  z-index: 1;
}

#shop-top-panel #example-card-5 {
  transform: translateX(max(-35rem, -160%)) translateY(30%) rotateZ(-10deg);

  z-index: 1;
}

#shop-bottom-panel {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.892);
}

#shop-filter-panel {
  display: flex;
  flex-direction: column;
  border-radius: 2vw;
  justify-content: right;
  width: 15vw;
  font-size: 1vw;
}

.filter-input-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

#product-filter,
#set-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#products-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1vw;
  width: 85vw;
}

#products-panel #change-page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  gap: 1vw;
}

#products-view-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  border-radius: 1vw;
  padding: 1vw;
  width: 100%;
  box-sizing: border-box;
}

.product-box {
  aspect-ratio: 1;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1vw;
  padding: 1vw;
  background-color: white;
  gap: 2%;
  outline: 2px solid black;
}

.product-box p {
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.product-box .product-name {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-box > img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.product-box .price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 100%;
  height: 20%;
}

.price-container img {
  height: 100%;
  width: 2vw;
  object-fit: contain;
}
.price-container button {
  height: 100%;
  box-sizing: border-box;
}
#open-my-packs-button {
  position: fixed;
  top: 10vh;
  width: 6vw;
  right: 5vh;
  z-index: 10;
  padding: 1vw;
}
.overpriced {
  color: red;
}

.buy-button.overpriced {
  background-color: rgb(40, 40, 40);
  text-decoration: line-through;
}
.product-box .more-info-button {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-weight: bold;
  z-index: 2;
  padding: 0;
  width: 10%;
  height: 10%;
}
.product-box .product-description {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2vw;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.product-description.disabled {
  display: none;
}

#buy-notification-container {
  position: fixed;
  top: 11vh;
  right: 5vh;
  z-index: 9;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 6vw;
  height: 20vw;
  overflow: hidden;
  pointer-events: none;
}

#buy-notification-container .buy-notification {
  width: 80%;
  position: absolute;
  bottom: 0;
  animation: buyNotificationAnim 2s ease-in-out forwards;
}

.buy-notification img {
  width: 100%;
}
.buy-notification p {
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
}

@keyframes buyNotificationAnim {
  0% {
    transform: translateY(0) scale(0.1);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: translateY(-150%);
  }
}

/* Open packs submenu */
#open-packs-submenu {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#my-packs-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

#my-packs-title {
  font-family: var(--font-title-1);
  font-size: 3rem;
  margin: 0;
}

#my-packs-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 5%;
  border-radius: 1vw;
  padding: 1vw;
  width: 100%;
  box-sizing: border-box;
}

.pack {
  display: flex;
  position: relative;
  justify-self: center;
  height: 100%;
  justify-content: center;
}

.pack img {
  width: 100%;
  object-fit: contain;
}

.pack p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
  width: 20%;
  height: 10%;
  background-color: white;
  font-size: 100%;
  border-radius: 3vw;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  border: 3px solid black;
}
#close-my-packs-button {
  position: fixed;
  top: 10vh;
  right: 5vh;

  padding: 1vw;
}
#open-pack-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 7vh 2vw 2vw 2vw;
  box-sizing: border-box;
  overflow: scroll;
}

#open-pack-panel {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3vw;
  width: 100%;
  height: 100%;
}
#open-pack-panel img {
  height: 50%;
  object-fit: contain;
}
#open-pack-panel #pack-amount {
  font-size: 3vw;
  font-weight: bold;
  margin: 0;
}
#close-open-pack-modal-button {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#open-pack-panel button {
  padding: 1vw;
}
#show-cards-panel {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#obtained-cards-container {
  width: 100%;
  height: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#obtained-cards-container .obtained-card {
  position: absolute;
  top: 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}
#show-cards-panel #next-card-button {
  position: absolute;
  bottom: 10%;
}
#show-cards-panel #skip-button {
  position: absolute;
  top: 10%;
}
#show-cards-panel .obtained-card-pass {
  display: none;
}
/* Show all cards */
#all-cards-obtained-panel {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 45% 45%;
  gap: 1%;
}
#all-cards-obtained-panel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#close-obtained-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
@media (max-height: 600px) {
  #shop-top-panel.top-panel {
    height: 100vh;
  }
}
@media (max-width: 900px) {
  #shop-bottom-panel {
    flex-direction: column;
  }
  #shop-filter-panel {
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    font-size: 3vw;
  }
}
