#shop-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url("../ASSETS/images/a1TKOxQ.jpeg");
  background-size: 60vw 60vw;
}
#shop-top-panel h1 {
  z-index: 10;
  transform: translateY(-100%);
}
#shop-top-panel img {
  position: absolute;
  bottom: 0;

  width: 20vw;
}

#shop-top-panel #example-card-1 {
  transform: translateX(15vw) translateY(45%) rotateZ(10deg);
  z-index: 2;
}

#shop-top-panel #example-card-2 {
  transform: translateX(0) translateY(50%) rotateZ(0);
  z-index: 4;
}

#shop-top-panel #example-card-3 {
  transform: translateX(-15vw) translateY(45%) rotateZ(-10deg);
  z-index: 2;
}
#shop-top-panel #example-card-4 {
  transform: translateX(35vw) translateY(30%) rotateZ(10deg);
  z-index: 1;
}

#shop-top-panel #example-card-5 {
  transform: translateX(-35vw) translateY(30%) rotateZ(-10deg);

  z-index: 1;
}

#shop-bottom-panel {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.892);
}

#shop-filter-panel {
  display: flex;
  flex-direction: column;
  border-radius: 2vw;
  justify-content: right;
  width: 15vw;
  padding-left: 5vw;
  padding-top: 1vw;
  font-size: 1vw;
}

.filter-input-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

.filter-input-container input {
  width: 1vw;
}

#product-filter,
#set-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#products-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1vw;
  width: 85vw;
}

#products-panel #change-page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  gap: 1vw;
}

#products-view-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 25vw);
  grid-auto-rows: 20vw;
  gap: 2vw;
  border-radius: 1vw;
  padding: 1vw;
  width: 100%;
  box-sizing: border-box;
}

.product-box {
  background-color: white;
  border-radius: 1vw;
  padding: 1vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 0.5vw;
  width: 100%;
  height: 100%;
}

.product-box p {
  margin: 0;
  width: 100%;
  font-size: 1.1vw;
  font-weight: bold;
}

.product-box > img {
  width: 90%;
  height: 75%;
  object-fit: contain;
}

.product-box .price-container {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
}

.price-container img {
  width: 1.1vw;
}
/* Open packs submenu */
#open-packs-submenu {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#my-packs-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.892);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
#my-packs-title {
  font-family: var(--font-title-1);
  font-size: 4vw;
}
#my-packs-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30vw;
  gap: 2vw;
  border-radius: 1vw;
  padding: 1vw;
  width: 100%;
  box-sizing: border-box;
}
.pack {
  display: flex;
  position: relative;
  justify-self: center;
  height: 100%;
  justify-content: center;
}
.pack img {
  width: 100%;
}
.pack p {
  position: absolute;
  bottom: 1vw;
  width: 3vw;
  height: 3vw;
  background-color: white;
  font-size: 1vw;
  border-radius: 3vw;
  text-align: center;
  padding: 1vw;
  box-sizing: border-box;
  margin: 0;
}

#open-pack-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 3vw;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10vw;
  box-sizing: border-box;
}
#open-pack-modal img {
  height: 60%;
  object-fit: contain;
}
#open-pack-modal #close-open-pack-modal-button {
  width: auto;
  padding: 2vw;
  position: absolute;
  top: 5vw;
  left: 5vw;
}
#open-pack-modal button {
  width: 30%;
  padding: 2vw;
}
