
body, html {
    height: 100vh;
    padding: 0;
    margin: 0;
}
header, footer {
    position: fixed;
    height: 100px;
    width: 100vw;
    z-index: 1000px;
}

header {
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.811) 0%, rgba(0, 0, 0, 0) 100%);
}

main {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    padding: 100px 0;
    justify-content: center;
}

footer {
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.811) 0%, rgba(0, 0, 0, 0) 100%);
}
.pokemon-card {
    width: 100%;
}
.pokemon-card:hover {
    transform: scale(1.2);
}
#collection-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 20px;
}
